---
export const prerender = true

import PodcastLayout from '@layouts/PodcastLayout.astro'
import Header from '@components/Header.astro'
import Newsletter from '@components/Newsletter'
import Comments from '@components/Comments.astro'
import { render } from 'astro:content'
import { getEpisodes, getDescriptionFromHTML } from '@utils/episodes'
import { slugify } from '@utils/slugify'
import '@styles/episode.css'

export async function getStaticPaths() {
  const episodes = await getEpisodes()
  return episodes.map((episode) => ({
    params: {
      number: String(episode.number),
      slug: slugify(episode.title),
    },
    props: { episode, allEpisodes: episodes },
  }))
}

const { episode, allEpisodes } = Astro.props
const customImage = episode.markdown?.image || 'https://res.cloudinary.com/jthouk/image/upload/v1627979106/Rules%20as%20Written/lazy-bard_esoxs7.gif'
const description = getDescriptionFromHTML(episode.description)
const pathname = `/show/${episode.number}/${slugify(episode.title)}`
const rendered = episode.entry ? await render(episode.entry) : null
const Content = rendered?.Content
---

<PodcastLayout
  title={episode.title}
  description={description}
  image={customImage}
  pathname={pathname}
  episodes={allEpisodes}
  currentEpisode={episode}
>
  <div class="episode-main">
    <Header episode={episode} image={customImage} />
    <article>
      {Content
        ? <div><Content /></div>
        : <div class="episode-placeholder">
            <p>
              The scribes haven't finished transcribing this session yet.
              Check back soon for detailed show notes, or listen to the episode
              above to hear the full discussion straight from the tavern.
            </p>
          </div>
      }
    </article>
    <footer class="episode-footer">
      <p class="episode-postscript">
        If you like this show and want to help others find it,
        we would be so grateful if you rate us on
        <a href="https://podcasts.apple.com/us/podcast/rules-as-written-a-d-d-podcast/id1545377455">Apple Podcasts</a>
        and let us know what you think!
      </p>
      <p>
        Can't get enough of us?
        <br />
        Stay on top of the latest releases and extra goodies by subscribing to our weekly newsletter!
      </p>
      <Newsletter client:visible />
    </footer>
    <Comments term={episode.title} />
  </div>
</PodcastLayout>
